.extension-box{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
    height: 55px;
    margin-bottom: 0.75rem;
    
}

.extension-drag-drop{
    width: 100%;
    height: 100%;
    background-color: #262d31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lato;
    font-size: 0.9rem;
    color: rgba(238, 238, 238, 0.5);
    border-radius: 0.25rem;
}

.addon-upload-container{

    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    height: 35px;
    background: #282828;
    display: flex;

}

.addon-icon{
    width: 2.5rem;
    height: 100%;
    display: grid;
    place-items: center;

}
.addon-file-name{
    width: calc(100% - 5rem);
    height: 100%;
   display: flex;
   align-items: center;

   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #eeeeee;
    font-family: source-code-mono;
    font-size: 0.9rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    max-width: 100%;
    max-height: 100%;

}


.addon-upload-percentage{
    width: 5.5rem;
    height: 100%;
    display: grid;
    place-items: center;
    color: #eeeeee;
    font-family: source-code-mono;
    font-size: 0.9rem;
}