@font-face {
  font-family: lato-bold;
  src: url("../assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: lato;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-VariableFont-wdth-wght.ttf");
}

.file-input-parent{
  height: 105px;
  transition: height 0.5s ease;
  user-select: none;
}

.file-input-parent-toggle{
  height: 3.5rem;
}


.file-drag-drop-overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  pointer-events: auto;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.dragdrop-border {
  width: 90%;
  height: 90%;
  border: 12px solid #cccccc;
  border-radius: 50px;
  display: grid;
  place-items: center;
}

.dragdrop-infocontext {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dragdrop-infocontext img {
  height: 100px;
  user-select: none;
}

.dragdrop-infocontext p {
  font-family: lato-bold;
  font-size: 1.5rem;
  color: #cccccc;
  margin-top: 1rem;
}

.cp-inputbox {
  width: calc(100% -2rem);
  height: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: dashed rgba(255, 255, 255, 0.3);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.inputbox-item-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inputbox-item-container img{
  height: 48px;
}

.file-upload-label {
  font-family: lato-bold;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: #212121;
  
}
.max-size-limit{
font-family: lato;
margin-top: 0.25rem;
font-size: 0.75rem;
color: #2f2f2f;
}


.upload-progressbar{
  background-color: rgba(204, 204, 204, 0.5);
  position: absolute;
  z-index: 2;
  height: 100%;
  left: 0;
  transition: width 0.5s ease;
}




.file-button-parent{
  width: calc(100% - 2rem);
  height: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  
  font-size: 1rem;
  background: #212121;
  outline: none;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  display: grid;
  place-items: center;
  
}
.file-button-parent p {
  font-size: 0.95rem;
  width: calc(100% - 2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: roboto;
  font-weight: 700;
  
}

.file-button-parent img{
  height: 1.25rem;
}


