/* .gpu-terminal-container {
  height: 100vh;
  width: 100%;
  background-color: #0f0f0f;
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
} */

.terminal-top-section{
  width: 100%;
  height: 40vh;
  min-height: 300px;
  display: flex;
  flex-direction: row;

}

.cpu-section {
  grid-area: a;
  height: 100%;
  width: 50%;
  min-width: 0;
}

.cpu-chart {
  height: calc(100% - 1.5rem);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  width: calc(100% - 1.5rem);
  margin-left: 1rem;
  margin-right: 0.5rem;
  overflow: hidden;

  background: #212121;
}



.ram-section {
  height: 100%;
  width: 50%;
}
.ram-chart{
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  margin-left: 0.5rem;
  margin-top: 1rem;
  background-color: #212121;
  border-radius: 1rem;
  overflow: hidden;


}
.terminal-mid-section{
  width: 100%;
  height: 40vh;
  min-height: 300px;
  display: flex;
  flex-direction: row;

}

.gpu-util-section {
 height: 100%;
 width: 50%;
}
.gpu-util-chart{
  height: calc(100% - 1rem);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  width: calc(100% - 1.5rem);
  margin-left: 1rem;
  margin-right: 0.5rem;
  overflow: hidden;
  background: #212121;
}

.gpu-mem-section {
  height: 100%;
 width: 50%;
}
.gpu-mem-chart{
  width: calc(100% - 1.5rem);
  height: calc(100% - 1rem);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  background-color: #212121;
  border-radius: 1rem;
  overflow: hidden;
}

.network-section {
  height: 40vh;
  min-height: 300px;
  width: 100%;
}

.network-chart {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  height: calc(100% - 1.5rem);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

@media screen and (max-width: 768px ) {
  .terminal-top-section{
    flex-direction: column;
    height: 80vh;
    min-height: 600px;
  }
  .cpu-section{
    width: 100%;
  }
  .cpu-chart{
    width: calc(100% - 2rem);
    margin-right: 1rem;
  }
  .ram-section{
    width: 100%;
  }
  .ram-chart{
    width: calc(100% - 2rem);
    height: calc(100% - 1rem);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: #212121;
    border-radius: 1rem;
    overflow: hidden;
  
  
  }
  .terminal-mid-section{
    flex-direction: column;
    height: 80vh;
    min-height: 600px;
  }
  .gpu-util-section {
    width: 100%;
   }
   .gpu-util-chart{
     height: calc(100% - 1rem);
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     width: calc(100% - 2rem);
     margin-left: 1rem;
     margin-right: 1rem;
   }
   
   .gpu-mem-section {
    width: 100%;
   }
   .gpu-mem-chart{
     width: calc(100% - 2rem);
     height: calc(100% - 1rem);
     margin-left: 1rem;
     margin-right: 1rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     
   }

  
}