.home-container {
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-image: url("../assets/images/dark-gradient.webp");
  
  /* background-size: cover; */
  /* background: #0f0f0f; */
}

.home-container-display {
  width: 100%;
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 1000px 400px;
  justify-content: space-evenly;
}

.home-container-display-ip {
  grid-area: a;
}
.home-container-display-control {
  grid-area: b;
  
}

@media screen and (max-width: 1500px) {
  .home-container-display {
    grid-template-columns: 900px 400px;
  }
}
@media screen and (max-width: 1400px) {
  .home-container-display {
    grid-template-columns: 800px 400px;
  }
}

@media screen and (max-width: 1300px) {
  .home-container-display {
    grid-template-columns: 700px 400px;
  }
}

@media screen and (max-width: 1200px) {
  .home-container-display {
    grid-template-columns: 600px 400px;
  }
}

@media screen and (max-width: 1025px) {
  .home-container-display {
    grid-template-columns: 500px 400px;
  }
}
@media screen and (max-width: 1000px) {
  .home-container-display {
    grid-template-areas:
      "a"
      "b";
    grid-template-columns: 100%;
    justify-items: center;
  }
  .home-container-display-ip {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .home-container-display-control {
    width: 400px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}



@media screen and (max-width: 426px) {
  .home-container-display-control {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
