.home-container {
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-image: url("../assets/images/dark-gradient.webp");
}

.home-container-display {
  width: 100%;
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: calc(100% - 25rem - 250px) calc(25rem);
  justify-content: space-evenly;
  /* gap: 5rem; */
}

.home-container-display-ip {
  grid-area: a;
}
.home-container-display-control {
  grid-area: b;
}


/* For super ultrawide monitors (21:9 to 32:9) - optional middle ground */
@media (min-aspect-ratio: 21/9) and (max-aspect-ratio: 32/9) and (min-width: 2560px) {
  .home-container {
    background-size: cover;
  }
}

/* For ultrawide monitors (32:9 and wider) */
@media (min-aspect-ratio: 32/9) and (min-width: 3440px) {
  .home-container {
    background-size: cover;
  }
}
@media screen and (max-width: 1000px) {
  .home-container-display {
    grid-template-areas:
      "a"
      "b";
    grid-template-columns: 100%;
    justify-items: center;
  }
  .home-container-display-ip {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .home-container-display-control {
    width: 400px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .home-container-display-control {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
