@font-face {
  font-family: "pacifico";
  src: url("../assets/fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-VariableFont-wdth-wght.ttf");
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-box {
  height: 60px;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
}
.navbar-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}
.navbar-content-heading {
  font-family: pacifico;
  font-size: 1.5rem;
  color: #f7f7f7;
  display: grid;
  place-items: center;
  grid-template-areas: "a b";
  height: 100%;
}
.navbar-content-heading > .image {
  height: 100%;
  grid-area: a;
  display: grid;
  place-items: center;
  margin-right: 8px;
}
.navbar-content-heading > .image img {
  height: 24px;
  margin-bottom: 0px;
}

.navbar-content-heading > .title {
  height: 100%;
  grid-area: b;
  display: grid;
  place-items: center;
}
.navbar-donation-button{
  height: 40px;
  width: 80px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: grid;
  place-items: center;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  text-decoration: none;
  font-family: roboto;
  font-size: 0.9rem;
  font-weight:600;
  color: #0f0f0f;
}

.navbar-gearbox {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  position: absolute;
  right: 50px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.navbar-gearbox img {
  width: 20px;
  height: 20px;
}


@media screen and (max-width: 1000px) {
  .navbar-box {
    height: 60px;
    width: 100%;
    margin-top: 0px;
    border-radius: 0;
    border: 0px;
  }
  .settings-box{
    width: 80%;
  }
}

@media screen and (max-width: 540px) {
  .navbar-gearbox {
    display: none;
  }
  .navbar-donation-button{
    display: none;
  }
}
